<!DOCTYPE html>
<html ng-app="notifire">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Notifire web-app">
    <meta name="author" content="Dean Shub">

    <title>Notifire</title>

    <base href="/">

    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
	<div ng-view>
		Loading...
	</div>


<!-- bower:js -->
<!-- endinject -->
<!-- inject:js -->
<!-- endinject -->
</body>
</html>