<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-9">
			<leaflet-map></leaflet-map>
		</div>
		<div class="col-xs-12 col-sm-3">
			<list-view></list-view>
		</div>		
	</div>
</div>